<!--  ********************************************
  * This code was obtained from the following link
  * https://codepen.io/Navedkhan012/pen/vrWQMY
  ******************************************** -->

<section class="page_404">
  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-12">
        <div class="col-xs-10 col-xs-offset-1 text-center">
          <div class="four_zero_four_bg">
            <h1 class="text-center">404</h1>
          </div>

          <div class="contant_box_404">
            <h3 class="h2">Parece que estás perdido</h3>

            <p>¡La página que busca no está disponible!</p>

            <a [routerLink]="['/']" class="btn__primary solid"
              >Volver a inicio</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
