@import "/src/app/sass/variables";

.wrapper__header {
  background: $white;
  box-shadow: 12px ​0px 20px 8px rgb(0 0 0 / 6%);
}

.logo {
  width: 132px;
  height: auto;
}

.header__title {
  h2 {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    color: $black;
  }
}
