<div class="wrapper__footer">
  <footer class="container h-100">
    <div class="row center-xs between-md middle-xs w-100 h-100">
      <div class="col-xs-12 col-sm-3">
        <div class="row start-md center-xs">
          <p>Copyright Bambú Mobile ©2021.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="row center-xs">
          <div class="pv1">
            <a
              class="footer__link"
              target="_blank"
              href="https://www.bambu-mobile.com/terminos-y-condiciones/"
              >Términos y condiciones</a
            >
          </div>
          <div class="pv1">
            <a
              class="footer__link"
              target="_blank"
              href="https://www.bambu-mobile.com/aviso-de-privacidad/"
              >Aviso de privacidad</a
            >
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="row center-xs end-md middle-xs footer__social_network">
          <a href="https://twitter.com/bambu_mobile" target="_blank">
            <img
              src="assets/twitter-icon.png"
              alt="twitter"
              class="img-fluid"
            />
          </a>
          <a href="https://www.instagram.com/bambu_mobile" target="_blank">
            <img
              src="assets/instagram-icon.png"
              alt="instagram"
              class="img-fluid"
            />
          </a>
        </div>
      </div>
    </div>
  </footer>
</div>
